/secret/
*.pem
/logs/
*.log
/resources/
/tmp/
/*Deploy.sh
*.swp
*.tmp
/vendor/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries/
.idea/**/deployment.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
*.iws
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

/node_modules/.bin
/node_modules/yuicompressor/nodejs
/node_modules/yuicompressor/package.json
/node_modules/yuicompressor/README.md
