//- Poggit-Delta
//-
//- Copyright (C) 2018-2019 Poggit
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

footer.container
	ul.list-inline.pull-right
		li #{common.sessionCount} online
		li: a(href="https://github.com/poggit/poggit") Source code
		li: a(href=common.discordInvite)
			img(src="https://discordapp.com/api/guilds/402639859535052811/embed.png", alt="Discord")
		li: a.twitter-follow-button(href="https://twitter.com/poggitci", data-show-count=true) Follow @poggitci
	ul.list-inline
		li &copy; #{new Date().getFullYear()} Poggit
			a(href="https://glyphicons.com")
				+CursorNote("Courtesy to GlyphIcons")
		li: a(href="/tos") Terms of Service
