//- Poggit-Delta
//-
//- Copyright (C) 2018-2019 Poggit
//-
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published
//- by the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

.User.HomePage
	h1 Poggit
	.NewestPlugins
		h2 Newest plugins
	.CiDashboard
		if enabledRepos.length > 0
			if projects.length > 0
				//- TODO: List projects
			else
				//- TODO: Add instruction for .poggit.yml and initial push
		else
			h2 Let Poggit build plugins for you
			p Poggit-CI is a tool that builds a .phar every time you push changes to GitHub.
			p To start using Poggit-CI, click #[a(href=`https://github.com/apps/${common.appSlug}`) this link] and
				| choose the repos that you want Poggit-CI to build.
